@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  height: 100vh;
}

.generator {
  width: 50vw;
  padding: 2.5rem 3.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 32px #ddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.right-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.logo-wrapper {
  height: 4.6rem;
  width: 4.6rem;
  background-color: royalblue;
  margin-top: 2.4rem;
  border-radius: 6px;
  cursor: pointer;
}

.logo {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

h4 {
  color: royalblue;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
}

.relative {
  position: relative;
}

label {
  position: absolute;
  top: 50%;
  left: 2%;
  color: #888;
  background-color: #fff;
  padding: 0 5px 0 5px;
  transition: top 0.3s ease;
  cursor: text;
  font-size: 1.6rem;
  z-index: 9999;
}

.toggle {
  color: royalblue;
  top: 20%;
}

input {
  margin-top: 2.4rem;
  height: 4.4rem;
  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem;
  outline-color: royalblue;
  border-radius: 0.6rem;
  border: 1px solid #888;
}

button {
  padding: 1.2rem 1.8rem;
  margin-top: 2.4rem;
  color: #fff;
  background-color: royalblue;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rgb(83, 119, 228);
}

button:active {
  background-color: royalblue;
}

.logo-wrapper:hover {
  background-color: rgb(83, 119, 228);
}

.logo-wrapper:active {
  background-color: royalblue;
}

.img-wrapper {
  margin-top: 2.4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper img {
  width: 25rem;
  height: 25rem;
  object-fit: contain;
}

.move {
  animation: move 0.1s infinite;
  color: red;
}

input.move {
  border: 1px solid red;
}

@keyframes move {
  0% {
    transform: translateX(10px);
  }
}

.loader {
  height: 6.4rem;
  width: 6.4rem;
  border: 5px solid #eee;
  border-radius: 50%;
  border-top-color: royalblue;
  animation: rotate 1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
